.profile-page-wrapper {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
    gap: 20px;
  }
  .profile-page-right-section{
    width: 70%;
    height: fit-content;
    padding: 40px;
    border-radius: 10px;
  }
  
/* Responsive adjustments */
@media (max-width: 1024px) {
  .profile-page-right-section {
    width: 80%; /* reduce width on tablets */
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .profile-page-wrapper {
    flex-direction: column; /* stack vertically */
    gap: 0;
  }

  .profile-page-right-section {
    width: 100%; /* almost full width on mobile */
    padding: 20px;
  }
}