.navbar-top-container {
    display: flex;
    justify-content: space-around;
    background-color: #ECECEC;
    height: 40px;
    padding: 10px;
    /* flex-wrap: wrap;  */
    animation: fadeInTop 0.6s ease-in-out;
}

.navbar-top-phone-number,
.navbar-top-mail-id,
.navbar-top-facebook-insta-icon-div,
.navbar-top-facebook-insta-icon {
    display: flex;
    gap: 10px;
    animation: fadeInTop 0.6s ease-in-out;
}

.navbar-top-facebook-insta-icon-div {
    gap: 50px;
}
.navbar-mob-middle-search-box-icon{
    display: none;
}
.mobile-navbar-top-offer{
    display: none;
}

@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive styles */
@media (max-width: 1024px) {
    .navbar-top-container {
        height: auto; /* Allow height to grow */
        padding: 15px 10px;
        background-color: #fff !important;
    }
    .navbar-top-phone-number,
.navbar-top-offer,
.navbar-top-facebook-insta-icon-div,
    .navbar-top-mail-id{
        display: none;
    }
}

@media (max-width: 480px) {
    .navbar-top-container {
        padding: 5px;
        background-color: #fff !important;
    }
    .search-results-dropdown{
        top: 25% !important;
        left: 3% !important;
        width: 93% !important;
    }
    .navbar-top-offer{
        font-size: smaller;
    }
.navbar-top-phone-number,
.navbar-top-offer,
.navbar-top-facebook-insta-icon-div,
    .navbar-top-mail-id{
        display: none;
    }
    .mobile-navbar-top-offer {
        display: block;
        width: 100%;
        background: #fff;
        border-bottom: 1px solid rgb(183, 182, 182);
        overflow: hidden;
        white-space: nowrap;
        position: relative;
      }
      
      .news-ticker {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;
      }
      
      .ticker-content {
        display: inline-block;
        padding-left: 100%; /* start off-screen */
        margin: 10px 0;
        animation: ticker 30s linear infinite; /* adjust 15s speed */
      }
      
      .ticker-item {
        display: inline-block;
        margin-right: 50px; /* space between messages */
        font-size: 14px;
      }
      
      @keyframes ticker {
        0% { transform: translateX(0%); }
        100% { transform: translateX(-100%); }
      }
      
  
  @keyframes fadeInOut {
    0% { opacity: 0; transform: translateX(100px); }
    10% { opacity: 1; transform: translateX(0); }
    90% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(-100px); }
  }
    
}
.phone-link, .sms-link {
    text-decoration: none;
    color: inherit; /* same as normal text */
    cursor: pointer;
  }
  .phone-link:hover {
    color: #E18436; /* highlight on hover */
  }
  