.product-card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background: #fff;
  min-width: 230px;
}



.product-card .card-img-top {
  height: 400px;
  background-color: #F8F8F8;
  object-fit: cover;
  border-radius: 20px;
}

.product-card .badge {
  font-size: 0.85rem;
    padding: 8px 15px;
  font-weight: 500;
}

.product-card .card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card .card-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #222;
}

.product-card .card-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.product-card .wishlist-icon-wrapper {
  cursor: pointer;
  font-size: 1.25rem;
}

.product-card .wishlist-icon.animate {
  transition: transform 0.2s ease;
}
.product-card .wishlist-icon.animate:hover {
  transform: scale(1.1);
}

/* Optional color selectors */
.product-card .product-colors {
  display: flex;
  gap: 5px;
  margin-top: 0.75rem;
}

.product-card .color-dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #ccc;
}

.color-dot {
  appearance: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 6px solid #ddd; /* Light gray ring */
  padding: 0;
  cursor: pointer;
  outline: none;
  transition: border 0.2s ease;
  display: inline-block;
  position: relative;
}

/* Center color */
.color-dot::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  border-radius: 50%;
}

/* Selected state adds a darker border */
.color-dot:checked {
  border: 3px solid #dddddd;
}

/* Individual colors using `color` property */
.color-dot.brown {
  color: #5C3A2E;
}

.color-dot.gray {
  color: #8C8B83;
}

.color-dot.red {
  color: #C0392B;
}


.image-wrapper {
  position: relative;
  overflow: hidden;
}

.image-wrapper .default-img,
.image-wrapper .hover-img {
  z-index: 1;
  position: relative;
}

.product-card .badge,
.product-card .rating-overlay {
  z-index: 2;
  position: absolute;
}

.default-img {
  display: block;
}

.hover-img {
  opacity: 0;
  pointer-events: none;
}

.image-wrapper:hover .hover-img {
  opacity: 1;
}

.image-wrapper:hover .default-img {
  opacity: 0;
}
.hover-button-wrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 3;
}

/* Style the button */
.hover-button {
    background-color: #fff;
    color: #434343;
    padding: .7rem 2.3rem;
    border: 1px solid #434343;
    font-size: 1rem;
    max-height: 50px;
    text-transform: uppercase;
    /* border: none; */
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Show on image hover */
.image-wrapper:hover .hover-button-wrapper {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}