.review-select-box-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: end;
    margin-right: 5px;
}
.recent-select-box{
    width: 143px;
    height: 44px;
    border-radius: 6px;
    border:1px solid #b9b8b8;
    background-color: white;
    color: #676774;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
.days-select-box{
    width: 86px;
    height: 44px;
    border-radius: 6px;
    border:1px solid #b9b8b8;
    background-color: white;
    color: #676774;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
.review-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    align-items: center;
    margin-bottom: 5%;
  }
  
  .review-left {
    width: 353px;
    height: 171px;
    text-align: left;
  }
  .review-rating-section{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .average-rating {
    font-size: 24px;
    font-weight: bold;
    width: 103.77px;
    height: 89px;
  }
  
  .rating-number {
    font-size: 51.1px;
    letter-spacing: -1px;
    width: 76px;
    height: 67px;
  }
  
  .out-of {
    font-size: 25.55px;
    letter-spacing: -1px;
    width: 25px;
    height: 33px;
    margin-left: 4px;
    color: #666;
  }
  
  .review-count {
    color: #666;
    width: 176px;
    height: 150px;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .rating-breakdown {
    margin-top: 20px;
  }
  .rating-row i{
    color: #FFC107;
  }
  .rating-row {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 0;
    gap: 6px;
  }
  
  .star-label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 38px;
    height: 22px;
  }
  
  .bar {
    width: 95px;
    height: 5px;
    background-color: #D9D9D9;
    margin: 0 5px;
    position: relative;
    border-radius: 8px;
  }
  
  .bar .filled {
    width: 54px;
    height: 100%;
    background-color: #282828;
    border-radius: 3px;
  }
  .review-box {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 15px;
    width: 900px;
    height: 188px;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .profile-image-and-name-div{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .profile-img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
  }
  
  .profile-name {
    font-weight: bold;
    width: 200px;
    height: 15px;
    font-size: 24px;
    line-height: 15px;
  }
  .stars{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    margin-left: 10px;
  }
  .stars i {
    color: #FFC107;
    margin-right: 2px;
    font-size: 16px;
  }
  
  .review-text {
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
    color: #333;
    width: 736px;
    height: 52px;
  }
  
  .write-review {
    margin-top: 20px;
    font-size: 22px;
    color: #444;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    width: 100%;
  }
  