@media (max-width: 576px) {
    .img-thumbnail{
        height: 80px !important;
        width: 80px !important;
    }
}

.product-image-wrapper .arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;               /* hidden by default */
  transition: opacity 0.3s ease;
  z-index: 2;
}

.product-image-wrapper:hover .arrow-btn {
  opacity: 1;               /* show on hover */
}

.arrow-btn.left-arrow {
  left: 10px;
  filter: invert(1);
}

.arrow-btn.right-arrow {
  right: 10px;
  filter: invert(1);
}

.main-image {
  border: 1px solid #ccc;
  border-radius: 4px;
  object-fit: contain;
  width: 100%;
  max-width: 100%;
  height: 600px; /* Default (desktop) */
  max-height: 700px;
}

@media (max-width: 768px) {
  .main-image {
    height: 300px; /* shorter for tablets & mobile */
    max-height: 350px;
  }
}

@media (max-width: 480px) {
  .main-image {
    height: 320px; /* even smaller for small phones */
    max-height: 350px;
  }
}
