.hero-section-2 {
  position: absolute;
  top:43vh;
  width: 100%;
  max-width: 100vw;
  height: 840px;
  overflow: hidden;
}
.hero-2-section-inner {
  z-index: 1;
  padding-top: 130px;
  position: relative;
}
.hero-2-title {
  font-family: var(--_typography---h1--font-family);
  text-transform: capitalize;
  white-space: nowrap;
  font-size: 110px;
  font-weight: 600;
  line-height: 130px;
  overflow: hidden;
}
.hero-section-2-wrap {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 470px;
  margin-top: -20px;
  display: flex;
}
.animation-box {
  perspective: 500px;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 1px;
  display: flex;
  position: relative;
  overflow: visible;
  transform: none;
}
.animation-item {
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  height: 300px;
  display: flex;
  position: absolute;
}
.animation-item.item-1 {
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(30deg) rotate(0);
}
.animation-item.item-2 {
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(60deg) rotate(0);
}
.animation-item.item-3 {
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(90deg) rotate(0);
}
.animation-item.item-4 {
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(120deg) rotate(0);
}
.animation-item.item-5 {
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(150deg) rotate(0);
}
.animation-item.item-6 {
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(180deg) rotate(0);
}
.animation-item.item-0 {
  transform: rotate(0);
}
.animation-item.item-7 {
  transform-style: preserve-3d;
  display: none;
  transform: rotateX(0) rotateY(120deg) rotate(0);
}
.animation-item.item-8 {
  transform-style: preserve-3d;
  display: none;
  transform: rotateX(0) rotateY(135deg) rotate(0);
}
.animation-item.item-9 {
  display: none;
  transform: rotate(0);
}
.animation-image-box {
  transform-style: preserve-3d;
  width: 260px;
  height: 370px;
  transform: rotateX(0) rotateY(-90deg) rotate(0);
}
.animation-image-box.box-1 {
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(90deg) rotate(0);
}
.animation-item-image {
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.rotation-circle-wrap {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}
.rotation-circle-box {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  display: flex;
}
.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
  .hero-2-flex-box {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 5fr;
    justify-items: center;
  }
    .hero-2-main-text-block {
    display: none;
  }
.hero-2-text-box {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}
@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}
@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

