.shop-the-room__section {
  padding: 30px 10px;
  background-color: #f5f3ef;
  text-align: center;
}

.shop-the-room__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.shop-the-room__room-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.shop-the-room__image {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.shop-the-room__hotspot {
  position: absolute;
  /* transform: translate(-50%, -50%); */
}

.shop-the-room__dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-the-room__dot::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px dotted #ffffff;
  animation: pulse 1.5s infinite ease-in-out;
}

.shop-the-room_inner_dot {
  width: 18px;
  height: 18px;
  border: 6px solid #ffffff;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px 4px 10px #33333321;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(.1, .1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
   -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}


.shop-the-room__card {
  position: absolute;
  background: white;
  padding: 8px;
  width: 220px;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  display: flex;
  gap: 10px;
  align-items: center;
  z-index: 1;
}

/* Centered default */
.shop-the-room__card.align-center {
  left: 50%;
  transform: translateX(-50%);
}

/* Aligned to left of dot */
.shop-the-room__card.align-left {
  left: 0;
  transform: translateX(-45%);
}

/* Aligned to right of dot */
.shop-the-room__card.align-right {
  left: auto;
  right: 0;
  transform: translateX(45%);
}

/* Arrow stays in center */
.shop-the-room__card::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.shop-the-room-image-wrapper{
  background-color: #d6d6d6;
  
  border-radius: 3px;
}

.shop-the-room__card img {
  width: 100%;
  object-fit: contain;
  padding: 10px;
  border-radius: 3px;
}

.shop-the-room__info {
  text-align: left;
  width:100%;
}

.shop-the-room__category {
  font-size: 10px;
  color: #888 !important;
  margin: 0 !important;
}

.shop-the-room__product-title {
  font-size: 14px;
  margin: 2px 0;
}

.shop-the-room__price {
  font-size: 13px;
  font-weight: bold;
  color: #d6791f !important;
  margin: 0 !important;
}

.shop-the-room__btn-container {
  margin-top: 30px;
}

.shop-the-room__check-btn {
  padding: 10px 24px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shop-the-room__check-btn:hover {
  background-color: #333;
}
